<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <form action="calculate" method="post" class="form">
        <input type="number" name="n1" id="n1">
        <input type="number" name="n2" id="n2">
        <label for="plus"></label>
        <input type="radio" name="signe" id="plus" value="+">
        <label for="moins"></label>
        <input type="radio" name="signe" id="moins" value="-">
        <label for="fois"></label>
        <input type="radio" name="signe" id="fois" value="*">
        <label for="divise"></label>
        <input type="radio" name="signe" id="divise" value="/">
        <input type="submit" value="=">
    </form>


</body>

</html>