<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Technos</title>
</head>

<body>

    <div id="header">
        <ul class="nav nav-tabs bg-secondary">
            <li class="nav-item">
                <a class="nav-link text-light" href="/">Calculator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/technos">Technos</a>
            </li>


        </ul>
        <header class="jumbotron">
            <H1 class="display-4">Technos</H1>
            <div class="lead"> c'est une calculatrice qui sauve les calculs et le résultat dans la base de donnée</div>
            <hr class="my-4">
        </header>

    </div>
    <div class="container-fluid text-center">

    </div>

</body>

</html>